* {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: small;
    color: white;
}

div {
    text-align: center;
}

.slot-button {
    background-color: rgb(80, 80, 80);
}

.activeButton {
    background-color: blue;
}

.subcatalog {
    display: flex;
    flex-flow: row wrap;
    max-width: 100vw;
}

.itemDiv {
    width: 23vw;
    height: auto;
    padding: 0.25vw 0.75vw 0vw 0.75vw;
}

.image {
    width: 24vw;
    height: auto;
    box-sizing: border-box;
}

.image:hover {
    border: 0.125vw solid white;
}

.slot-button {
    padding: 0.5vw;
    border-radius: 0.5vw;
}

.loadingScreen {
    color: white;
    font-size: xx-large;
    text-align: center;
    padding-top: 22vw;
}

.textDiv {
    font-family: Consolas, monaco, monospace;
    color: white;
    display: none;
}

#catalog {
    background-color: rgb(0, 0, 0);
    padding-bottom: 3vw;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: transparent;
    text-align: center;
}
